<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <title>{%if post %}{{ post.title }} | {% endif %}Mastodon - Help Center</title>
  {{ header_meta }}
  <link rel="stylesheet" type="text/css" href="http://mastodonmail.com/css/mastodon.css">
  {% if site.analytics %}
  <script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.analytics }}']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = 'https://ssl.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
  {% endif %}
</head>
<body class="help-layout">

  <!-- main nav -->
  <nav class="main-nav">
    <a href="/" class="logo"><img src="http://mastodonmail.com/images/logo-white.svg" /></a>
    <ul>
      <li><a href="http://mastodonmail.com/lists/all"><span class="ss-icon">users</span> Lists</a></li>
      <li><a href="http://mastodonmail.com/account/account"><span class="ss-icon">settings</span> Account</a></li>
      <li><a href="http://help.mastodonmail.com" class="active"><span class="ss-icon">file</span> Help</a></li>
      <li><a href="http://mastodonmail.com/logout"><span class="ss-icon">redirect</span> Log Out</a></li>
    </ul>
  </nav>

  <!-- content -->
  <div class="slideIn">
    <div class="pad white">
    
    <!-- table of contents -->
    <div class="toc">
      <h2>Table of Contents</h2>
      <div class="toc-items">
        <ul>
          <li><a href="{{ site.base_url }}" class="{{ set_active('/') }}">Getting Started</a></li>
          <li><a href="{{ site.base_url }}/tag/sending-emails" class="{{ set_active('tag/sending-emails') }}">Sending Emails</a></li>
          <li><a href="{{ site.base_url }}/tag/email-formatting" class="{{ set_active('tag/email-formatting') }}">Email Formatting</a></li>
          <li><a href="{{ site.base_url }}/tag/account" class="{{ set_active('tag/account') }}">Account</a></li>
          <li><a href="{{ site.base_url }}/tag/subscribers" class="{{ set_active('tag/subscribers') }}">Subscribers</a></li>
          <li><a href="{{ site.base_url }}/tag/faq" class="{{ set_active('tag/faq') }}">FAQ</a></li>
        </ul>
      </div>
    </div>    

    {% if is_home %}
    
    <div class="post">

      <h1>Getting Started</h1>
      <div class="post-content">
        <p>Thanks for visiting the Mastodon Help Center. If you're new to Mastodon, we recommend you read the three common questions below:</p>
        <h3>Three Common Questions</h3>
        <p>
          <strong>How do I create or send an email?</strong><br />
          Simply open up Evernote on your desktop or mobile, create a note in your <strong>Mastodon</strong> notebook, tag it <strong>send</strong> and also with your list send tag, and then sync Evernote. To learn more about sending emails, check out the <a href="{{ site.base_url }}/tag/sending-emails">Sending Emails</a> section.
        </p>
        <p>
          <strong>My emails aren't sending, what do I do?</strong><br />
          There are a number of reasons an email might not send. Usually it's because the note is not tagged with both <strong>send</strong> and the lists send tag. For more details, check out the <a href="{{ site.base_url }}/tag/sending-emails">Sending Emails</a> section.
        </p>
        <p>
          <strong>I can't log in, how do I reset my password?</strong><br />
          To reset your password, simply click the <a href="http://www.mastodonmail.com/site/forgot">Trouble Logging In</a> link on the log in page. It will ask you for your email address and send you a link to update your password.
        </p>
      </div>
      
    </div>

    {% elif is_tag %}
    
    <div class="post">      

      <h1>{{ tag|format_tag(False, True) }}</h1>

      {% if posts %}
      <ul class="posts">
        {% for post in posts %}
        <li>
          <h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
          <p>{{ post.content }}</p>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      
    </div>

    {% elif post.type == 'post' %}

    <div class="post">
      <h1>{{ post.title }}</h1>
      <div class="post-content" data-type-cleanup="true">
        {{ post.content }}
      </div>
    </div>
      
    {% if site.disqus %}
    <div class="post-comments">
      <div id="disqus_thread"></div>
      <script>
        var disqus_shortname = '{{ site.disqus }}';
        var disqus_url = '{{site.base_url}}{{ post.permalink }}';
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
    </div>
    {% endif %}        

    {% endif %}

  </div><!-- end pad white -->
  </div><!-- end slidein -->
  
  {{ footer_meta }}

</body>
</html>